{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [true,
      {
      "ignoreAtRules": ["function", "if", "return", "include", "extend", "mixin", "else", "while", "for", "each"]
      }
    ]
  }
}
